{% extends 'layout.html.twig' %} 
{% block body %}
{{ parent() }}
<div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>Nuevo Curso</h2>   
        <br/>
        <div class="pull-center">
            <a class="btn btn-info" href="">Guardar</a>
            <a class="btn btn-info" href="index">Volver</a>
        </div>
    </div>
</div>

{% endblock %}