{% extends 'layout-login.html.twig' %}

{% block body %}
  {{ parent() }}

  <div class="header">
    <div>Aulas <span>FIA</span></div>
  </div>
  <br>
  <div class="login">
    <form class="form col-md-12 center-block"  method="POST" action="{{path('login')}}">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Usuario" name="inputUsuario" id="inputUsuario">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Clave" id="inputClave" name="inputClave">
      </div>
      <div class="form-group">
        <button class="boton" >Iniciar Sesión</button>
      </div>         
    </form>   
  </div>

  <div class="mensajes">
    <div>
      {% for flashMessage in app.session.flashbag.get("mensaje") %}
        {{ flashMessage }}         
      {% endfor %} 
    </div>

  {% endblock %}